<div style="display: flex;flex-direction: column;width: 100%; ">
<mat-toolbar style="background-color:lightblue; padding: 10px;height: 60px;">
  <button mat-icon-button (click)="viewSideNav()"><mat-icon>menu</mat-icon></button>   
<div class="Spacer" style="font-size: larger;margin-left: 50px;">FINTELLIX</div         >
<div class="Spacer" style="font-size: small;">Welcome {{UserName}} !!</div>   
<div class="Spacer" style="font-size: small;">Last login date:{{lastLogintime}}</div>
<div  style="font-size: small;">TRAQ<button mat-icon-button ><mat-icon>settings</mat-icon></button></div>
</mat-toolbar></div>
<!-- sidebar below -->
<!-- <ng-container *ngIf="toggle" style="background-color: blue;">
    <mat-sidenav-container  style="background-color: blue; flex: 50%;width: 20%;">
        <mat-sidenav>Start</mat-sidenav>
        <mat-sidenav-content>Main</mat-sidenav-content>
      </mat-sidenav-container>
    <div class="sidenav">
        <ul class="sidenav">
            <li>menu1

        </ul>
    </div>

</ng-container> -->
<!-- <app-side-nav></app-side-nav> -->